<!DOCTYPE html>
<html lang="en-AU">
<head>
	 <title>Azure Immersive Reader | CANAXESS</title>  

	<link rel="stylesheet" type="text/css" media="all" href="../css/main.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="../css/media-queries.css"/>
		
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.1.1.0.js"></script>
	<script type="text/javascript" src="../js/helpers.js"></script>

	<link rel="icon" sizes="32x32" href="https://canaxess.com.au/_assets/images/icons/favicon-32x32.png">
	<link rel="icon" sizes="16x16" href="https://canaxess.com.au/_assets/images/icons/favicon-16x16.png">
	<link rel="icon" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://canaxess.com.au/_assets/images/icons/apple-touch-icon-180x180.png" />
		
	<meta name="msapplication-TileColor" content="#225270">
	<meta name="theme-color" content="#225270">
	<meta name="Author" content="CANAXESS">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	
	<meta property="twitter:image" content="https://canaxess-immersive-reader.herokuapp.com/images/immersive-reader.jpg">
	<meta name="twitter:title" content="Azure Immersive Reader">
	<meta name="twitter:description" content="This demo shows how the Immersive Reader tool could be used to assist a users literacy and comprehension.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@CANAXESS">
	<meta name="twitter:site" content="@CANAXESS">

	<style>
	
	.content ol li
	{
		margin-bottom:0px;
	}
	
	.mt35
	{
		margin-top:35px;
	}
	
	.nl
	{
		display:inherit;
	}
	
	.lh
	{
		line-height:2.1875rem;
	}
	
	a.fc:link, a.fc:visited
	{
		color:white;
	}

	</style>

</head>
<body>
	<header class="header">
		<div class="header-measure">
			<div class="header-logo">
				<a href="https://www.canaxess.com.au"><img src="../images/logo.png" width="270" height="63" alt="home"></a>
			</div>
		</div>
	</header>
	
	<main>     
		<div class="heading">
			<div class="heading-measure">	
				<h1 class="heading-title" id="main">Azure Immersive Reader</h1>
				<p class="heading-text">This demo shows how the Immersive Reader tool could be used to assist a users literacy and comprehension. Article: <a href="https://www.canaxess.com.au/articles/using-azure-helps-users-with-lower-levels-literacy/" class="fc">Using Azure to help users with lower levels of literacy</a></p> 
			</div>
		</div>

		<div class="content">
			<div class="content-measure">
				<div class="content-block">
					<div class="content-blockA">
						<p>Websites may have sections of text at an advanced reading age, the tool could help a user understand individual words, sections of text or the entire content.</p>
						<p>Additionally, it could be used as technique to pass more significant WCAG 2.1 success criteria.</p>
					</div>
					<div class="content-blockB">
						<ol>
							<li>Highlight all or some of the text</li>
							<li>Select the 'Launch Reader' button</li>
						</ol>

						<textarea cols="10" rows="10" id="default" autocomplete="off" maxlength="2000" name="message" rows="10" class="contactForm-control lh">
These terms and conditions create a contract between you and Apple (the “Agreement”). Please read the Agreement carefully. To confirm your understanding and acceptance of the Agreement, click “Agree.”

The following terms and conditions are subject to consumer protection laws, including the Competition and Consumer Act 2010 (Cth) and other applicable Australian consumer protection laws and regulations. The contractual rights you may be entitled to under these terms and conditions are in addition to the statutory rights you may be entitled to under the Competition and Consumer Act 2010 (Cth) and other applicable Australian consumer protection laws and regulations.
						</textarea>

						<button class="contactForm-button submit nl mt35"><span>Launch Reader</span></button>
					</div>
				</div>
			</div>
		</div>		
	</main>		
		
	<footer class="footer" id="footer">
		<div class="footer-measure">
						
			<ul class="footer-list-left">	
				<li>Copyright&copy; 2020 CANAXESS</li>
			</ul>		
		</div>
	</footer>

</body>
</html>