<!doctype html>
<html lang="en-AU">
<head>
    <meta charset="utf-8">
    <title>AZURE Immersive Reader | CANAXESS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.1.0.0.js"></script>
    <script type="text/javascript" src="../js/helpers.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css"> 
</head>

<body class="body">
	<div class="p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<div class="container">
			<h1>Azure Immersive Reader</h1>
		</div>
	</div>
	<div class="container">
		<div>
			<p>This shows how the Immersive Reader tool could be used to assist a users literacy and comprehension.
			Websites may have sections of text at an advanced reading age, the tool could help a user to understand individual words, sections of text or the entire content.</p>
			<p>Additionally, it could be used as technique to pass more significant WCAG 2.1 success criteria <a href="https://www.w3.org/WAI/WCAG21/Understanding/unusual-words.html">3.1.3 Unusual Words AAA</a>, <a href="https://www.w3.org/WAI/WCAG21/Understanding/reading-level.html">3.1.5 Reading Level AAA</a> and <a href="https://www.w3.org/WAI/WCAG21/Understanding/pronunciation.html">3.1.6 Pronunciation AAA</a>.</p>
			<h2>How to use</h2>
			<ol>
				<li>Highlight all or some of the text</li>
				<li>Select the 'Launch Reader' button</li>
			</ol>
		</div>
		<div class="alert alert-primary alert-styling">
			<div class="horizontal-alignment">
				<p class="font-weight-bold item">(text for demonstration purposes)</p>
				<button class="btn btn-primary">Launch Reader<img src="../images/icon.svg" alt="" /></button>
			</div>
			<textarea col="40" rows="10" id="default">
These terms and conditions create a contract between you and Apple (the “Agreement”). Please read the Agreement carefully. To confirm your understanding and acceptance of the Agreement, click “Agree.”

The following terms and conditions are subject to consumer protection laws, including the Competition and Consumer Act 2010 (Cth) and other applicable Australian consumer protection laws and regulations. The contractual rights you may be entitled to under these terms and conditions are in addition to the statutory rights you may be entitled to under the Competition and Consumer Act 2010 (Cth) and other applicable Australian consumer protection laws and regulations.</textarea>
			
		</div>
		
		<footer class="pt-4 my-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
					<p>Article:<a href="https://www.canaxess.com.au/articles/using-azure-help-users-low-literacy/"> Using Azure to help users with lower levels of literacy</a><br>
					A <a href="https://www.canaxess.com.au">CANAXESS</a> Project</p>
			  	</div>
			</div>
		</footer>
	</div>
</body>
</html>