@media (min-width: 37.5em){
	table{
        margin-bottom:35px
    }
	
    table th,table td{
        font-size:1.375rem;
        line-height:2.1875rem
    }
	
	hr{
        font-size:1.375rem;
        margin-bottom:45px
    }
}

@media (min-width: 64em){
    hr{
        max-width:620px
    }
}

@media (min-width: 37.5em){    
    .heading{
        padding-top:110px;
        padding-bottom:110px
    }
}

@media (min-width: 37.4em){    
    .videoWrapper + h3{
        padding-top:25px;
    }
}

@media (min-width: 77.5em){
    .videoWrapper{
        padding-bottom: 47%; 
    }
    
    .heading-measure{
        margin-left:auto;
        margin-right:auto
    }
}

@media (min-width: 37.5em){
    .heading-label{
        font-size:1.25rem;
        line-height:1.5625rem
    }
}

@media (min-width: 37.5em){
    .heading-title{
        font-size:4.6875rem;
        line-height:4.6875rem
    }
}

@media (min-width: 37.5em){
    .heading-text{
        font-size:1.5rem;
        line-height:2.1875rem
    }
}

@media (min-width: 37.5em){
    .content{
        padding-top:110px;
        padding-bottom:110px
    }
}

@media (min-width: 77.5em){
    .content-measure{
        margin-left:auto;
        margin-right:auto
    }
}
@media (min-width: 64em){
    .content-indent{
        padding-left:120px
    }
}

@media (min-width: 64em){
    .header-anchor:link,.header-anchor:visited{
        position:absolute;
        margin-left:-1em;
        margin-right:0
    }
}

@media (min-width: 37.5em){
    .content h2{
        font-size:2.8125rem;
        line-height:2.8125rem;
        margin-top:75px;
    }
}

@media (min-width: 37.5em){
    .content h3{
        font-size:1.4375rem;
        line-height:2.1875rem;
        margin-top:35px;
        margin-bottom:10px
    }
}

@media (min-width: 37.5em){
    .content h3+.image{
        margin-top:30px
    }
}

@media (min-width: 37.5em){
    .content p{
        font-size:1.375rem;
        line-height:2.1875rem;
        margin-bottom:35px
    }
}

@media (min-width: 37.5em){
    .content ul,.content ol{
        font-size:1.375rem;
        line-height:2.1875rem;
        margin-bottom:35px
    }
}

@media (min-width: 37.5em){
    .content pre{
        padding:30px;
        margin-bottom:35px
    }
}

@media (min-width: 64em){
    .content-block{
        display:flex;
        justify-content:space-between
    }
}

@media (min-width: 64em){
    .content-blockA{
        width:414px;
        margin-right:104px
    }
}

@media (min-width: 64em){
    .content-blockB{
        width:800px
    }
}

@media (min-width: 64em){
    .content-blockA{
        max-width:890px
    }
}

@media (min-width: 37.5em){
    .content-indent .image--small figure{
        margin-left:0
    }
}

@media (min-width: 37.5em){
    figcaption{
        font-size:1.125rem
    }
}

@media (min-width: 37.5em){
    .content pre code{
        font-size:1.375rem;
        line-height:2.1875rem
    }
}

@media (min-width: 37.5em){
    .content .publication-meta{
        font-size:1.125rem
    }
}

@media (min-width: 37.5em){
    .article-date{
        font-size:1.25rem
    }
}

@media (min-width: 37.5em){
    .caseStudy-meta{
        font-size:1.25rem
    }
}

@media (min-width: 37.5em){
    
    .article-signUp{
        margin-top:100px
    }
}

@media (min-width: 37.5em){
    .header-measure:after{
        content:"";
        display:table;
        clear:both
    }
}

@media (min-width: 77.5em){
    .header-measure{
        margin-left:auto;
        margin-right:auto
    }
}

@media (min-width: 50em){
    .header-logo{
        float:left;
        margin-top:25px
    }
}

@media (min-width: 77.5em){
    .header-logo{
        padding-left:0
    }
}

@media (min-width: 50em){
    .header-nav{
        float:right;
        border-top:none;
        border-bottom:none;
        margin-top:15px
    }
}

@media (min-width: 37.5em){
    .footer{
        padding-top:50px;
        padding-bottom:50px
    }
}

@media (min-width: 50em){
    .footer-measure{
        overflow:hidden
    }
}
@media (min-width: 77.5em){
    .footer-measure{
        margin-left:auto;
        margin-right:auto
    }
}

@media (min-width: 50em){
    .footer-nav{
        float:right
    }

	.footer-list-left{
        line-height:30px;
        font-size:18px;
        float:left;
        width:255px;
        padding-right:41px;
    }
	
    .footer-list{
        line-height:30px;
        font-size:18px;
        float:left;
        width:165px;
        padding-right:41px
    }
	
	.footer-list-wider{
        line-height:30px;
        font-size:18px;
        float:left;
        width:195px;
        padding-right:41px
    }

    .nav ul{
        white-space:normal;
        overflow-x:initial
    }

    .nav a:link,.nav a:visited{
        padding-top:17px;
        padding-bottom:20px
    }
}

@media (min-width: 37.5em){
    .articleList .articleList-date{
        font-size:1.125rem;
        margin-bottom:75px
    }

    .caseStudyList .caseStudyList-meta{
        font-size:1.125rem;
        margin-bottom:75px
    }

    .contactForm{
        margin-bottom:45px
    }

    .contactForm-label{
        font-size:22px;
        line-height:20px
    }

    .contactForm-field{
        display:flex
    }

    .contactForm-control{
        display:inline-block;
        /*max-width:21em;*/        
        font-size:1.375rem
    }

    .contactForm-button{
        display:inline-block;
        width:auto;
    }

    .subscribeLink:link,.subscribeLink:visited{
        display:inline-block;
        width:auto
    }
}

@media (min-width: 64em){
    .pagination{
        font-size:0;
        text-align:justify
    }
    .pagination:after{
        content:'';
        display:inline-block;
        width:100%
    }
}

@media (min-width: 64em){
    .pagination__list{
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle
    }
}

@media (min-width: 37.5em){
    .pagination__item{
        font-size:1.375rem
    }
}

@media (max-width: 49.9em){
    nav.nav ul
    {
        padding-top:5px;
    } 
}